.header {
  margin-bottom: 24px;
}

.title {
  composes: type-heading from global;
  margin-top: 8px;
}

.subtitle {
  composes: type-subtitle from global;
  margin-top: 12px;
  max-width: 52ch;
}
