.root {
  position: relative;
}

.content {
  position: relative;
  transform-origin: center center;
  will-change: opacity, transform, filter;
}

@media (prefers-reduced-motion: reduce) {
  .content {
    will-change: auto;
  }
}
